@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}
.divider {
    background-color: rgba(0, 0, 0, .12);
    height: 1px;
}

/* =============
   Helper classes
============= */
.p-0 {
    padding: 0 !important;
}
.p-20 {
    padding: 20px !important;
}
.p-30 {
    padding: 30px !important;
}
.p-l-0 {
    padding-left: 0 !important;
}
.p-r-0 {
    padding-right: 0 !important;
}
.p-t-0 {
    padding-top: 0 !important;
}
.p-b-0 {
    padding-bottom: 0 !important;
}
.p-t-10 {
    padding-top: 10px !important;
}
.p-b-10 {
    padding-bottom: 10px !important;
}
.p-l-r-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.m-0 {
    margin: 0 !important;
}
.m-r-5 {
    margin-right: 5px !important;
}
.m-r-10 {
    margin-right: 10px !important;
}
.m-r-15 {
    margin-right: 15px !important;
}
.m-r-30 {
    margin-right: 30px !important;
}
.m-l-5 {
    margin-left: 5px !important;
}
.-m-l-10{
    margin-left: -10px !important;
}
.m-l-10 {
    margin-left: 10px !important;
}
.m-l-15 {
    margin-left: 15px !important;
}
.m-t-5 {
    margin-top: 5px !important;
}
.m-t-0 {
    margin-top: 0 !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-t-15 {
    margin-top: 15px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-t-30 {
    margin-top: 30px !important;
}
.m-t-40 {
    margin-top: 40px !important;
}
.m-t-50 {
    margin-top: 50px !important;
}
.m-b-0 {
    margin-bottom: 0 !important;
}
.m-b-5 {
    margin-bottom: 5px !important;
}
.m-b-10 {
    margin-bottom: 10px !important;
}
.m-b-15 {
    margin-bottom: 15px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}
.m-b-25 {
    margin-bottom: 25px !important;
}
.m-b-30 {
    margin-bottom: 30px !important;
}
/* Background colors */
.bg-custom {
    background-color: #00acc1 !important;
}
.bg-primary {
    background-color: #188ae2 !important;
}
.bg-success {
    background-color: #4bd396 !important;
}
.bg-info {
    background-color: #3ac9d6 !important;
}
.bg-warning {
    background-color: #f9c851 !important;
}
.bg-danger {
    background-color: #f5707a !important;
}
.bg-muted {
    background-color: #797979 !important;
}
.bg-inverse {
    background-color: #3b3e47 !important;
}
.bg-purple {
    background-color: #9c27b0 !important;
}
.bg-rose {
    background-color: #dd2567 !important;
}
.bg-pink {
    background-color: #f06292 !important;
}
.bg-orange {
    background-color: #ff9800 !important;
}
.bg-brown {
    background-color: #8d6e63 !important;
}
.bg-teal {
    background-color: #26a69a !important;
}
.bg-white {
    background-color: #ffffff !important;
}
.bg-dark {
    background-color: #313a46 !important;
}
/* Text colors */
.text-custom {
    color: #00acc1 !important;
}
.text-white {
    color: #ffffff !important;
}
.text-danger {
    color: #f5707a !important;
}
.text-muted {
    color: #989898 !important;
}
.text-primary {
    color: #188ae2 !important;
}
.text-warning {
    color: #f9c851 !important;
}
.text-success {
    color: #4bd396 !important;
}
.text-info {
    color: #3ac9d6 !important;
}
.text-inverse {
    color: #3b3e47 !important;
}
.text-pink {
    color: #f06292 !important;
}
.text-purple {
    color: #6b5fb5 !important;
}
.text-orange {
    color: #ff9800 !important;
}
.text-brown {
    color: #8d6e63 !important;
}
.text-teal {
    color: #26a69a !important;
}
.text-dark {
    color: #313a46 !important;
}
.btn-purple {
    background-color: #6b5fb5 !important;
    border: 1px solid #6b5fb5 !important;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
    background-color: #5c4fab !important;
    border: 1px solid #5c4fab !important;
}
.btn-pink {
    background-color: #f06292 !important;
    border: 1px solid #f06292 !important;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
    background-color: #ee4b82 !important;
    border: 1px solid #ee4b82 !important;
}
.btn-default {
    background-color: #bdbaab !important;
    border: 1px solid #bdbaab !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: #9c978d !important;
    border: 1px solid #9c978d !important;
}
.pointer{
    cursor: pointer;
}
.btn-xxs {
    padding: 2px 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    font-size: 10px;
}

.font-16{
    font-size: 16px;
}
.m-b-18{
    margin-bottom: 18px!important;
}
.nav-border-b{
    border-bottom: 1px solid #565655;
}
